/* font-family: 'Heebo', sans-serif; 
   font-family: 'Heebo', sans-serif;
   font-family: 'Josefin Sans', sans-serif;
   comon-color:#08D404*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Josefin Sans', sans-serif;
}
 #header_area{
     width:100%;
     height:100vh;
     background-image: url(img/banner.png);
     background-position: center;
     background-size:cover;
 }
.top_header_area{
    width:100%;   
    display: flex;
    justify-content: space-between;
    background-color: #09c506;
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

.signup {
    display: flex;
    width:200px;
    padding: 3px 0;
    color:#08D404;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    border-radius: 27px;
    margin-top: 24px;
    margin-right: 20px;
}
.signup i{
    font-size: 30px;
    cursor: pointer;
}
nav ul{
    display: flex;
}

nav ul li{
    margin-right:40px;
    margin-top: 25px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-size: 25px;
    color: #fff;
    transition: 0.5s;
    padding: 5px 10px;
    border-radius: 10px;
}
nav ul li a:hover{
    background-color: #fff;
    color:#09c506 ;
}
.logo img{
    margin-left:30px;
    width:250px;
    cursor: pointer;
}

.header_text_img{
    display: flex;
    width: 100%;
    
}
.header_text{
    width: 50%;
    margin:100px 0 0 60px;
}
.header_text h1{
    font-size: 65px;
    font-family: 'Heebo', sans-serif;
}
.header_text p{
    font-size: 20px;
    margin-top: 40px;
}
span{
    color:#08D404;
}
.header_img{
    width:50%;
    position: relative;
    
}
.header_img img{
    position:absolute;
    right:120px;
    top:86px;
    bottom: 0;
    width:56%;
    z-index: 1;
}
button{
    margin:60px 0 0 60px;
    padding: 8px 20px;
    background-color:#08D404 ;
    border-radius: 7px;
    font-size: 25px;
    border:none;
    color:#fff;
    box-shadow: 2px 3px 10px gray;
    cursor: pointer;
}

/* ------------------------------------------Blog------------------------------- */


#blog_area{
    width:100%;
    height:100vh;
}
#blog_area > h1{
    font-size: 60px;
    text-align: center;
    color: #08D404;
    margin-top:30px;
}
hr{
    width:500px;
    margin:auto;
}

.blogs{
    margin: 80px 30px 0 30px;
    width: 90%;
    background-color: #ffffff;
    padding: 10px;
}
.blog_1{
    
    background-color: #faf6f6;
    margin:80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items :center;
}
.blog_1 h1{
    font-size: 30px;
    margin-top:30px;
}
.blog_1 p{
    margin-top: 20px;;
    font-size: 20px;
    color:#535252 ;
    line-height:1.6em ;
}

.blog_1 p a{
    color:grey;
    font-style: italic;
    font-size: 20px;
}

.blog_1 img{
    background-color: #80808093;
    border:5px solid #bdbaba ;
    border-radius: 50%;;
    width:200px;
    margin-top:-100px;
}
.blog_2{
    
    background-color: #faf6f6;
    margin:120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items :center;
}
.blog_2 h1{
    font-size: 30px;
    margin-top:30px;
}
.blog_2 p{
    margin-top: 20px;;
    font-size: 20px;
    color:#535252 ;
    line-height:1.6em ;
}

.blog_2 p a{
    color:grey;
    font-style: italic;
    font-size: 20px;
}

.blog_2 img{
    background-color: #80808093;
    border:5px solid #bdbaba ;
    border-radius: 50%;;
    width:200px;
    margin-top:-100px;
}
.blog_3{
    
    background-color: #faf6f6;
    margin:120px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items :center;
}
.blog_3 h1{
    font-size: 30px;
    margin-top:30px;
}
.blog_3 p{
    margin-top: 20px;;
    font-size: 20px;
    color:#535252 ;
    line-height:1.6em ;
}

.blog_3 p a{
    color:grey;
    font-style: italic;
    font-size: 20px;
}

.blog_3 img{
    background-color: #80808093;
    border:5px solid #bdbaba ;
    border-radius: 50%;;
    width:200px;
    margin-top:-100px;
}
.button{
    margin-left: 30px;
}
/* --------------------------------------------Albums------------------------------------------- */

#container{
    width:100%;
}
#container > h1{
    font-size: 60px;
    color:#08D404;
    text-align: center;
    margin-top: 30px;
}
.albums{
    margin: 80px 40px 0 30px;
    width: 95%;
    background-color: #fdfdfd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box1{
    width:45%;
    height:390px;
    background-color: cornsilk;
    position:relative;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 2px 3px 10px gray;
}
.box1 img{
    width:100%;
    border-radius: 15px;
}
.box_1_text{
    width:568px;
    height:100%;
    position:absolute;
    display: none;
    top:0;
}
.box1:hover .box_1_text{
    display: block;
    background-color: #ffffff67;
    border-radius: 15px;
}
.box_1_text h1{
    font-size:35px;
    color: #000000;
    text-align: center;
    margin-top: 170px;;
}
.box_1_text p{
    font-size:25px;
    color: #5d5252;
    text-align: center;
}

.box2{
    width:45%;
    height:390px;
    background-color: cornsilk;
    position:relative;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 2px 3px 10px gray;
}
.box2 img{
    width:100%;
    height:100%;
    border-radius: 15px;
}
.box_2_text{
    width:568px;
    height:100%;
    position:absolute;
    display: none;
    top:0;
}
.box2:hover .box_2_text{
    display: block;
    background-color: #ffffff67;
    border-radius: 15px;
}
.box_2_text h1{
    font-size:35px;
    color: #000000;
    text-align: center;
    margin-top: 170px;;
}
.box_2_text p{
    font-size:25px;
    color: #5d5252;
    text-align: center;
}

.box3{
    width:45%;
    height:390px;
    background-color: cornsilk;
    position:relative;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 2px 3px 10px gray;
}
.box3 img{
    width:100%;
    height:100%;
    border-radius: 15px;
}
.box_3_text{
    width:568px;
    height:100%;
    position:absolute;
    display: none;
    top:0;
}
.box3:hover .box_3_text{
    display: block;
    background-color: #ffffff67;
    border-radius: 15px;
}
.box_3_text h1{
    font-size:35px;
    color: #000000;
    text-align: center;
    margin-top: 170px;;
}
.box_3_text p{
    font-size:25px;
    color: #5d5252;
    text-align: center;
}
.box4{
    width:45%;
    height:390px;
    background-color: cornsilk;
    position:relative;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 2px 3px 10px gray;
}
.box4 img{
    width:100%;
    height:100%;
    border-radius: 15px;
}
.box_4_text{
    width:568px;
    height:100%;
    position:absolute;
    display: none;
    top:0;
}
.box4:hover .box_4_text{
    display: block;
    background-color: #ffffff67;
    border-radius: 15px;
}
.box_4_text h1{
    font-size:35px;
    color: #000000;
    text-align: center;
    margin-top: 170px;;
}
.box_4_text p{
    font-size:25px;
    color: #5d5252;
    text-align: center;
}

/* ---------------------------------------------------------Services section-------------------------- */


#services{
    width:100%;
    height:100vh;

}
#services h1{
    font-size: 60px;
    color:#08D404;
    text-align: center;
    margin-top: 30px;
}
#services > p{
    font-size: 30px;
    color:#000000;
    margin: 40px 0 0 40px;
}

.section_area{
    width:95%;
    height:100%;
    display: flex;
    justify-content: space-around;
    margin: 100px 40px 0 30px;
}

.service-1{
    background-color: #c5b805;
    height:400px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 15px;
    transition:0.5s;
    box-shadow: 2px 3px 10px gray;
}
 
.service-1 i{
    margin-bottom:60px;
    font-size: 80px;
    color: #fff;
}
.service-1 h5{
    font-size: 20px;
    color: #fff;
    margin-left:30px;
}
.service-1 p{
    font-size: 15px;
    color: #fff;
    margin-left:30px;
}



.service-2{
    background-color: #01a009;
    height:400px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 15px;
    transition:0.5s;
    margin-top: 60px;
    box-shadow: 2px 3px 10px gray;
}
 
.service-2 i{
    margin-bottom:60px;
    font-size: 80px;
    color: #fff;
}
.service-2 h5{
    font-size: 20px;
    color: #fff;
    margin-left:30px;
}
.service-2 p{
    font-size: 15px;
    color: #fff;
    margin-left:30px;
}

.service-3{
    background-color: #2600ff;
    height:400px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 15px;
    transition:0.5s;
    box-shadow: 2px 3px 10px gray;
}
 
.service-3 i{
    margin-bottom:60px;
    font-size: 80px;
    color: #fff;
}
.service-3 h5{
    font-size: 20px;
    color: #fff;
    margin-left:30px;
}
.service-3 p{
    font-size: 15px;
    color: #fff;
    margin-left:30px;
}

    
.service-4{
    background-color: tomato;
    height:400px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 15px;
    transition:0.5s;
    margin-top: 60px;
    box-shadow: 2px 3px 10px gray;
}
 
.service-4 i{
    margin-bottom:60px;
    font-size: 80px;
    color: #fff;
}
.service-4 h5{
    font-size: 20px;
    color: #fff;
    margin-left:15px;
}
.service-4 p{
    font-size: 20px;
    color: #fff;
    margin-left:30px;
}

























